@page "/automatic_testing"

<h1>Automatic Testing</h1> 

<div class="container">
    <div class="row">
        <div class="btn-group btn-breadcrumb breadcrumb-default bg-dark">
            <a href="#" class="btn btn-default visible-lg-block visible-md-block text-white font-weight-bold">DEFINE</a>
            <div class="btn btn-info"><b>CAPTURE</b></div>
            <a href="#" class="btn btn-default visible-lg-block visible-md-block text-white font-weight-bold">ANALYZE></a>
            <a href="#" class="btn btn-default visible-lg-block visible-md-block text-white font-weight-bold">REVIEW</a>
        </div>
		<p></p>
    </div>

    <div class="row" style="margin-top:50px">
        <div class="col-md"></div>
        <div class="card bg-transparent col-md-8">
            <h4>
                Prompt to press start then run G-Code. Testing should automatically start when G-Code is started. 
                Various pre-installed sensors around the machine are read as each axix is tested, up to 8 sensors at once if possible. 
                Hardware and test profile has not yet been selected for this setup. More information in the future.
            </h4>
        </div>
        <div class="col-md"></div>
    </div>

    <div class="row" style="margin-top:50px">
        <div class="col text-center">
            <button type="button" class="btn btn-success btn-lg">Ready</button>
        </div>
    </div>
</div>