@page "/data_plot"
@using System.Globalization
@using System.Text.RegularExpressions
@using System.Collections
@using WebviewAppShared.Data
@using System.Data
<h1>Service Testing</h1>

<div class="container">
    <div class="row">
        <div class="btn-group btn-breadcrumb breadcrumb-default bg-dark">
            <a href="#" class="btn btn-default visible-lg-block visible-md-block text-white font-weight-bold">DEFINE</a>
            <div class="btn btn-info"><b>CAPTURE</b></div>
            <a href="#" class="btn btn-default visible-lg-block visible-md-block text-white font-weight-bold">ANALYZE</a>
            <a href="#" class="btn btn-default visible-lg-block visible-md-block text-white font-weight-bold">REVIEW</a>
        </div>
    </div>

    <div class="row" style="margin-top:50px;margin-left:0">
        <div class="col-sm-8 card bg-transparent mx-4">
            <form>
                <div class="form-group row">
                    <label class="col col-form-label font-weight-bold">Components</label>
                </div>
                <div class="combiner" style="display:flex;flex-direction:row">
                <div class="col">
                        <div class="roundedStylings col col-form-label"><p>W Axis DE Bearing</p><div class="roundedMargin"><button class="noStyle" @onclick="GetDataPlotValue" type="button"><span class="rounded" aria-hidden="true">1</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">2</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">3</span></button></div></div>
                        <div class="roundedStylings col col-form-label"><p>W Axis Ballscrew</p><div class="roundedMargin"><button class="noStyle"><span class="rounded" aria-hidden="true">1</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">2</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">3</span></button></div></div>
                            <div class="roundedStylings col col-form-label">
                            <p>W Axis Linear Rail</p><div class="roundedMargin"><button class="noStyle ml-1"><span class="rounded" aria-hidden="true">1</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">2</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">3</span></button></div>
                        </div>
                                <div class="roundedStylings col col-form-label">
                            <p>W Axis ODE Bearing</p><div class="roundedMargin"><button class="noStyle"><span class="rounded" aria-hidden="true">1</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">2</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">3</span></button></div>
                            </div>
                                    <div class="roundedStylings col col-form-label">
                            <p>X Axis ODE Bearing</p><div class="roundedMargin">
                                <button class="noStyle"><span class="rounded" aria-hidden="true">1</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">2</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">3</span></button>
                            </div></div>
                                        <div class="roundedStylings col col-form-label">
                            <p>X Axis DE Bearing</p><div class="roundedMargin">
                                <button class="noStyle"><span class="rounded" aria-hidden="true">1</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">2</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">3</span></button>
                            </div></div>
                                            <div class="roundedStylings col col-form-label">
                            <p>X Axis Ballscrew</p><div class="roundedMargin"><button class="noStyle"><span class="rounded" aria-hidden="true">1</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">2</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">3</span></button></div>
                        </div>
                                                <div class="roundedStylings col col-form-label">
                            <p>X Axis Linear Rail</p><div class="roundedMargin"><button class="noStyle"><span class="rounded" aria-hidden="true">1</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">2</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">3</span></button></div>
                        </div>
                </div>
                    <div class="col">
                        <div class="roundedStylings col col-form-label">
                            <p>Y Axis DE Bearing</p><div class="roundedMargin"><button class="noStyle"><span class="rounded" aria-hidden="true">1</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">2</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">3</span></button></div>
                        </div>
                            <div class="roundedStylings col col-form-label">
                            <p>Y Axis Ballscrew</p><div class="roundedMargin"><button class="noStyle"><span class="rounded" aria-hidden="true">1</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">2</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">3</span></button></div>
                        </div>
                                <div class="roundedStylings col col-form-label">
                            <p>Y Axis Linear Rail</p><div class="roundedMargin"><button class="noStyle"><span class="rounded" aria-hidden="true">1</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">2</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">3</span></button></div>
                        </div>
                                    <div class="roundedStylings col col-form-label">
                            <p>Y Axis ODE Bearing</p><div class="roundedMargin"><button class="noStyle"><span class="rounded" aria-hidden="true">1</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">2</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">3</span></button></div>
                        </div>
                                        <div class="roundedStylings col col-form-label">
                            <p>Z Axis DE Bearing</p><div class="roundedMargin"><button class="noStyle"><span class="rounded" aria-hidden="true">1</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">2</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">3</span></button></div>
                        </div>
                                            <div class="roundedStylings col col-form-label">
                            <p>Z Axis Ballscrew</p><div class="roundedMargin"><button class="noStyle"><span class="rounded" aria-hidden="true">1</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">2</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">3</span></button></div>
                        </div>
                                                <div class="roundedStylings col col-form-label">
                            <p>Z Axis Linear Rail</p><div class="roundedMargin"><button class="noStyle"><span class="rounded" aria-hidden="true">1</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">2</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">3</span></button></div>
                        </div>
                                                    <div class="roundedStylings col col-form-label">
                            <p>Z Axis ODE Bearing</p><div class="roundedMargin"><button class="noStyle"><span class="rounded" aria-hidden="true">1</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">2</span></button><button class="noStyle"><span class="rounded" aria-hidden="true">3</span></button></div>
                        </div>
                </div>
                </div>
            </form>
        </div>
        <div class="col-sm-3 card bg-transparent">
            <form>
                <div class="form-group row">
                    <label class="col col-form-label font-weight-bold">G-Code Program:</label>
                </div>

                <div class="form-group row">
                    <label class="col col-form-label">Intimidator 120 XW-Axix.nc</label>
                </div>
                <div class="form-group row">
                    <label class="col col-form-label text-success">Export Program</label>
                </div>
            </form>
        </div>
    </div>

        <div class="my-5 mx-0" style="width:950px;padding:0;">
            <RadzenChart Style="height:400px;margin-left:0px;color:white">
            <RadzenLineSeries Smooth="true" Data="@objPlotDatas" CategoryProperty="TimeStamp" Title="X_Axis" LineType="LineType.Solid" ValueProperty="X_Axis"/> 
            <RadzenLineSeries Smooth="false" Data="@objPlotDatas" CategoryProperty="TimeStamp" Title="Y_Axis" ValueProperty="Y_Axis"/>
            <RadzenLineSeries Smooth="false" Data="@objPlotDatas" CategoryProperty="TimeStamp" Title="Z_Axis" ValueProperty="Z_Axis"/>  
            <RadzenValueAxis Min="-5" Max="5" />
            <RadzenCategoryAxis Formatter=@(value => ((DateTime)value).ToString("H:mm:ss")) Padding="20" />
        </RadzenChart>
        </div>
    <div class="row" style="margin-top:50px">
        <div class="col text-center">
            <button type="button" class="btn btn-danger btn-lg p-3 my-3">Cancel</button>
        </div>
    </div>
</div>
@code
{
}

@code {
    public Database dbConn { get; set; }
    public DataTable dataTable { get; set; }
    public List<DataPlots> objPlotDatas { get; set; }
    public string query { get; set; }
    public string Message { get; set; }
     protected override Task OnInitializedAsync()
    {
        dbConn = new Database();
        //GetDataPlotValue();
        return base.OnInitializedAsync();
    }
    public void GetDataPlotValue()
    {
        query = "Select * from (SELECT CAST(TimeStamp AS varchar) as TimeStamp,X_Axis,Y_Axis,Z_Axis,ROW_NUMBER() OVER (ORDER BY TimeStamp) as RowCount FROM testtable) where (RowCount%500)=0";
        dataTable = dbConn.GetData(query);
        objPlotDatas = new List<DataPlots>();
        for (int i = 0; i < dataTable.Rows.Count; i++)
        {
            DataPlots pD = new DataPlots();
            pD.TimeStamp = ConvertToDateTime(dataTable.Rows[i]["TimeStamp"].ToString());
            pD.X_Axis = Convert.ToDouble(dataTable.Rows[i]["X_Axis"].ToString());
            pD.Y_Axis = Convert.ToDouble(dataTable.Rows[i]["Y_Axis"].ToString());
            pD.Z_Axis=Convert.ToDouble(dataTable.Rows[i]["Z_Axis"].ToString());
            objPlotDatas.Add(pD);
        }
    }
    public static DateTime ConvertToDateTime(string str)
    {
        string pattern = @"(\d{4})-(\d{2})-(\d{2}) (\d{2}):(\d{2}):(\d{2})\.(\d{3})";
        if (Regex.IsMatch(str, pattern))
        {
            Match match = Regex.Match(str, pattern);
            int year = Convert.ToInt32(match.Groups[1].Value);
            int month = Convert.ToInt32(match.Groups[2].Value);
            int day = Convert.ToInt32(match.Groups[3].Value);
            int hour = Convert.ToInt32(match.Groups[4].Value);
            int minute = Convert.ToInt32(match.Groups[5].Value);
            int second = Convert.ToInt32(match.Groups[6].Value);
            int millisecond = Convert.ToInt32(match.Groups[7].Value);
            return new DateTime(year, month, day, hour, minute, second, millisecond);
        }
        else
        {
            throw new Exception("Unable to parse.");
        }
    }        

}
