@page "/devices"

@using DataAccessLibrary
@using DataAccessLibrary.Models

@inject IDeviceData _db

<h1>Devices Page</h1>

<h4>Current Devices</h4>
@if (devices is null)
{
    <p><em>Loading...</em></p>
}
else
{
	<div class="container">
		<div class="row">
			<div class="col-12">
				<table class="table table-image text-white">
					<thead>
						<tr>
							<th scope="col">Serial Number</th>
							<th scope="col">Name</th>
							<th scope="col">Status</th>
							<th scope="col">Last Tested</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var device in devices)
						{
							<tr>
								<th scope="row" class="align-middle">@device.SerialNumber</th>
								<td class="align-middle">@device.Name</td>
								<td>@device.Status</td>
								<td class="align-middle">@device.LastTested</td>
							</tr>
						}
					</tbody>
				</table>
				<div class="col text-center">
					<button type="button" class="btn btn-secondary btn-lg">Start Testing</button>
					<button type="button" class="btn btn-secondary btn-lg">Review Machines</button>
				</div>
			</div>
		</div>
	</div>
}

@code {
    private List<DeviceModel> devices;

    protected override async Task OnInitializedAsync()
    {
        devices = await _db.GetDevices();
    }
}
