@page "/service_testing"

<h1>Service Testing</h1>

<div class="container">
    <div class="row">
        <div class="btn-group btn-breadcrumb breadcrumb-default bg-dark">
            <a href="#" class="btn btn-default visible-lg-block visible-md-block text-white font-weight-bold">DEFINE</a>
            <div class="btn btn-info"><b>CAPTURE</b></div>
            <a href="#" class="btn btn-default visible-lg-block visible-md-block text-white font-weight-bold">ANALYZE</a>
            <a href="#" class="btn btn-default visible-lg-block visible-md-block text-white font-weight-bold">REVIEW</a>
        </div>
    </div>

    <div class="row" style="margin-top:50px">
        <div class="col-sm-4 card bg-transparent">
            <form>
                <div class="form-group row">
                    <label class="col col-form-label font-weight-bold">Components</label>
                </div>
                <label class="col col-form-label">W Axis DE Bearing <span class="oi oi-check" style="color: green" aria-hidden="true"></span></label>
                <label class="col col-form-label">W Axis Ballscrew <span class="oi oi-check" style="color: green" aria-hidden="true"></span></label>
                <label class="col col-form-label">W Axis Linear Rail <span class="oi oi-check" style="color: green" aria-hidden="true"></span></label>
                <label class="col col-form-label">W Axis ODE Bearing <span class="oi oi-check" style="color: green" aria-hidden="true"></span></label>
                <label class="col col-form-label text-warning">X Axis ODE Bearing</label>
                <label class="col col-form-label">X Axis DE Bearing</label>
                <label class="col col-form-label">X Axis Ballscrew</label>
                <label class="col col-form-label">X Axis Linear Rail</label>
                <label class="col col-form-label">Y Axis DE Bearing</label>
                <label class="col col-form-label">Y Axis Ballscrew</label>
                <label class="col col-form-label">Y Axis Linear Rail</label>
                <label class="col col-form-label">Y Axis ODE Bearing</label>
                <label class="col col-form-label">Z Axis DE Bearing</label>
                <label class="col col-form-label">Z Axis Ballscrew</label>
                <label class="col col-form-label">Z Axis Linear Rail</label>
                <label class="col col-form-label">Z Axis ODE Bearing</label>
            </form>
        </div>


        <div class="col-sm-5 card bg-dark">
            <img class="card-img" src="_content/WebviewAppShared/bearing.png" alt="bearing">
        </div>

        <div class="col-sm-3 card bg-transparent">
            <form>
                <div class="form-group row">
                    <label class="col col-form-label font-weight-bold">G-Code Program:</label>
                </div>

                <div class="form-group row">
                    <label class="col col-form-label">Intimidator 120 XW-Axix.nc</label>
                </div>
                <div class="form-group row">
                    <label class="col col-form-label text-success">Export Program</label>
                </div>
            </form>
        </div>
    </div>
    <div class="row" style="margin-top:50px">
        <div class="col text-center">
            <button type="button" class="btn btn-success btn-lg">Start</button>
        </div>
    </div>
</div>
@code
{
}