@page "/service_testing"
@using WebviewAppShared.Data
@using NationalInstruments.DAQmx;

@using System.Data;
@using System.Collections.Generic;
@inject NavigationManager NavigationManager


<h1>Service Testing</h1>

<div class="container">
    <div class="row">
        <div class="btn-group btn-breadcrumb breadcrumb-default bg-dark">
            <a href="#" class="btn btn-default visible-lg-block visible-md-block text-white font-weight-bold">DEFINE</a>
            <div class="btn btn-info"><b>CAPTURE</b></div>
            <a href="#" class="btn btn-default visible-lg-block visible-md-block text-white font-weight-bold">ANALYZE</a>
            <a href="#" class="btn btn-default visible-lg-block visible-md-block text-white font-weight-bold">REVIEW</a>
        </div>
    </div>

    <div class="row" style="margin-top:50px">
        <div class="col-sm-4 card bg-transparent">
            <form>
                <div class="form-group row">
                    <label class="col col-form-label font-weight-bold">Components</label>
                </div>
                <label class="col col-form-label">W Axis DE Bearing <span class="oi oi-check" style="color: green" aria-hidden="true"></span></label>
                <label class="col col-form-label">W Axis Ballscrew <span class="oi oi-check" style="color: green" aria-hidden="true"></span></label>
                <label class="col col-form-label">W Axis Linear Rail <span class="oi oi-check" style="color: green" aria-hidden="true"></span></label>
                <label class="col col-form-label">W Axis ODE Bearing <span class="oi oi-check" style="color: green" aria-hidden="true"></span></label>
                <label class="col col-form-label text-warning">X Axis ODE Bearing</label>
                <label class="col col-form-label">X Axis DE Bearing</label>
                <label class="col col-form-label">X Axis Ballscrew</label>
                <label class="col col-form-label">X Axis Linear Rail</label>
                <label class="col col-form-label">Y Axis DE Bearing</label>
                <label class="col col-form-label">Y Axis Ballscrew</label>
                <label class="col col-form-label">Y Axis Linear Rail</label>
                <label class="col col-form-label">Y Axis ODE Bearing</label>
                <label class="col col-form-label">Z Axis DE Bearing</label>
                <label class="col col-form-label">Z Axis Ballscrew</label>
                <label class="col col-form-label">Z Axis Linear Rail</label>
                <label class="col col-form-label">Z Axis ODE Bearing</label>
            </form>
        </div>


        <div class="col-sm-5 card bg-dark">
            <img class="card-img" src="_content/WebviewAppShared/bearing.png" alt="bearing">
        </div>

        <div class="col-sm-3 card bg-transparent">
            <form>
                <div class="form-group row">
                    <label class="col col-form-label font-weight-bold">G-Code Program:</label>
                </div>

                <div class="form-group row">
                    <label class="col col-form-label">Intimidator 120 XW-Axix.nc</label>
                </div>
                <div class="form-group row">
                    <label class="col col-form-label text-success">Export Program</label>
                </div>
            </form>
        </div>
    </div>
    <div class="row" style="margin-top:50px">
        <div class="col text-center">
            <button type="button" class="btn btn-success btn-lg" @onclick="startDataAcquisiton">Start</button>
        </div>
    </div>
</div>
@code
{

    public Database dbConn { get; set; }

    private void onChangeSite()
    {
        NavigationManager.NavigateTo("/data_plot");
    }

    protected override System.Threading.Tasks.Task OnInitializedAsync()
    {
        dbConn = new Database();
        return base.OnInitializedAsync();
    }


    private void startDataAcquisiton()
    {
        DataTable d = acquireData("cDAQ1Mod1");

        int i = 0;
        foreach (DataRow dtRow in d.Rows)
        {

            Console.Write("Row " + i + ": ");
            foreach (var item in dtRow.ItemArray)
            {
                Console.Write(item.ToString() + "  ");
            }
            i++;
            Console.WriteLine();
        }



        dbConn.BulkInsert(d);


        /*string connectionString = @"Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=QuickMill;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False";
        using (SqlConnection connection = new SqlConnection(connectionString))
        using (SqlBulkCopy bulkCopy = new SqlBulkCopy(connection))
        {
            connection.Open();
            bulkCopy.DestinationTableName = "TestTable";

            bulkCopy.WriteToServer(d);



        }
        Console.WriteLine("Done All End");
        */
    }


    // Code to acquire data from the sensor and return that data in form of a data table

    private DataTable acquireData(string deviceName)
    {
        var timeStamp = new List<string>();
        double start;
        double end;


        DataTable dt = new DataTable();

        // Define Parameters
        int rate = 5;
        int _samplesPerChannel = 10;
        int bufferSize = rate * _samplesPerChannel;

        //Inilitiaze task
        NationalInstruments.DAQmx.Task acelerometerTask1 = new NationalInstruments.DAQmx.Task();

        //Define Channels
        acelerometerTask1.AIChannels.CreateAccelerometerChannel($"{deviceName}/ai0", "A00", AITerminalConfiguration.Pseudodifferential, -5, 5, 100, AIAccelerometerSensitivityUnits.MillivoltsPerG, AIExcitationSource.None, 0, AIAccelerationUnits.G);
        acelerometerTask1.AIChannels.CreateAccelerometerChannel($"{deviceName}/ai1", "A01", AITerminalConfiguration.Pseudodifferential, -5, 5, 100, AIAccelerometerSensitivityUnits.MillivoltsPerG, AIExcitationSource.None, 0, AIAccelerationUnits.G);
        acelerometerTask1.AIChannels.CreateAccelerometerChannel($"{deviceName}/ai2", "A02", AITerminalConfiguration.Pseudodifferential, -5, 5, 100, AIAccelerometerSensitivityUnits.MillivoltsPerG, AIExcitationSource.None, 0, AIAccelerationUnits.G);

        acelerometerTask1.Timing.ConfigureSampleClock("", rate, SampleClockActiveEdge.Rising, SampleQuantityMode.FiniteSamples, bufferSize);


        acelerometerTask1.Control(TaskAction.Verify);
        start = DateTime.Now.ToOADate();
        acelerometerTask1.Start();

        AnalogMultiChannelReader reader1 = new AnalogMultiChannelReader(acelerometerTask1.Stream);

        double[,] data = reader1.ReadMultiSample(bufferSize);

        acelerometerTask1.Dispose();
        end = DateTime.Now.ToOADate();

        Console.WriteLine(DateTime.FromOADate(start).ToString("yyyy’-‘MM’-‘dd’T’HH’:’mm’:’ss.fffffffK"));
        Console.WriteLine(DateTime.FromOADate(end).ToString("yyyy’-‘MM’-‘dd’T’HH’:’mm’:’ss.fffffffK"));


        //Calculate time difference between each sample
        double diff = (end - start) / (double)bufferSize;


        //Define data columns
        DataColumn dtColumn;
        DataRow dtRow;

        // Create TimeStamp column.
        dtColumn = new DataColumn();
        dtColumn.DataType = typeof(double);
        dtColumn.ColumnName = "TimeStamp";
        //dtColumn.Caption = "Cust Name";
        dtColumn.AutoIncrement = false;
        dtColumn.ReadOnly = false;
        dtColumn.Unique = false;
        dt.Columns.Add(dtColumn);

        // Create X-axis column.
        dtColumn = new DataColumn();
        dtColumn.DataType = typeof(Double);
        dtColumn.ColumnName = "X-Axis";
        //dtColumn.Caption = "Cust Name";
        dtColumn.AutoIncrement = false;
        dtColumn.ReadOnly = false;
        dtColumn.Unique = false;
        dt.Columns.Add(dtColumn);



        // Create y-axis column.
        dtColumn = new DataColumn();
        dtColumn.DataType = typeof(Double);
        dtColumn.ColumnName = "Y-Axis";
        //dtColumn.Caption = "Cust Name";
        dtColumn.AutoIncrement = false;
        dtColumn.ReadOnly = false;
        dtColumn.Unique = false;
        dt.Columns.Add(dtColumn);


        // Create z-axis column.
        dtColumn = new DataColumn();
        dtColumn.DataType = typeof(Double);
        dtColumn.ColumnName = "Z-Axis";
        //dtColumn.Caption = "Cust Name";
        dtColumn.AutoIncrement = false;
        dtColumn.ReadOnly = false;
        dtColumn.Unique = false;
        dt.Columns.Add(dtColumn);


        // Filling the dataTable
        for (int i = 0; i < data.GetLength(1); i++)
        {
            dtRow = dt.NewRow();
            dtRow["TimeStamp"] = start + (diff * i);
            dtRow["X-Axis"] = data[0, i];
            dtRow["Y-Axis"] = data[1, i];
            dtRow["Z-Axis"] = data[2, i];
            dt.Rows.Add(dtRow);
        }



        return dt;
    }
}
