@page "/settings"
@using WebviewAppShared.Data
@using System.Data

<h1>Settings:</h1> 


<div class="container">
    <div class="row">
        <div class="col-12">
            <span class="font-weight-bold" style="margin-left:2.75rem;">Sensor Configuration</span>
            
        </div>
    </div>
    <div class="row">
        <form>
            
            <div class="col">
                <span style="margin-left:2.75rem;" class="text-sm-left" >Enter Machine Serial no.</span>
                <input type="text" class="form-control" id="machine_no" placeholder="Machine Sl.No 5123" />
            </div>
            <div class="col">
                @foreach (MachineComponent m in machineComponents)
                {
                    <div class="col">
                        @m.Axis @m.Component
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="machine_no" placeholder="cDAQ1Mod1" />
                    </div>
                }

                
            </div>
        </form>
    </div>
</div>


@code{

    public Database dbConn { get; set; }
    public DataTable dataTable { get; set; }
    List<MachineComponent> machineComponents = new List<MachineComponent>();

    protected override Task OnInitializedAsync()
    {
        dbConn = new Database();

        string query = "select m1.Id, m.Machine_Name, M1.Axis, M1.Component from MachineComponents m1, machine m where m1.Machine_Id = m.Id and m.Id = 2";

        //string query = "select * from MachineComponents";

        dataTable = dbConn.GetData(query);

        foreach (DataRow row in dataTable.Rows)
        {
            MachineComponent mc = new MachineComponent();
            mc.Id = row["Id"].ToString();
            mc.Machine_Name = row["Machine_Name"].ToString();
            mc.Axis = row["Axis"].ToString();
            mc.Component = row["Component"].ToString();
            mc.count = 0;

            machineComponents.Add(mc);
        }

        return base.OnInitializedAsync();
    }
}