@page "/settings"
@using WebviewAppShared.Data
@using System.Data

<h1>Settings:</h1> 


<div class="container">
    <div class="row">
        <div class="col-12">
            <span class="font-weight-bold" style="margin-left:2.75rem;">Sensor Configuration</span>
            
        </div>
    </div>
    <div class="row">
        <form>
            
            
            <div class="form-group row">
                    <label for="machine_no" class="col-sm-5 col-form-label">Sensor Name</label>
                    <div class="col-sm-7">
                    <input type="text" class="form-control" id="sensor_name" placeholder="cDAQ1Mod1" @bind-value="@SensorForm.name" />
                    </div>
                    
             </div>
            <div class="form-group row">
                <label for="machine_no" class="col-sm-5 col-form-label">Minimum Value</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="min" placeholder="-5" @bind-value="@SensorForm.min" />
                </div>

            </div>
            <div class="form-group row">
                <label for="machine_no" class="col-sm-5 col-form-label">Maximum Value</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="max" placeholder="5" @bind-value="@SensorForm.max" />
                </div>

            </div>
            <button type="button" class="btn btn-secondary btn-lg" @onclick="RunCommand">Next</button>
        </form>
    </div>
</div>


@code{

    public Database dbConn { get; set; }
    public DataTable dataTable { get; set; }
    public Sensor SensorForm { get; set; }
    public string query { get; set; }
    public string Message { get; set; }

    protected override Task OnInitializedAsync()
    {
        dbConn = new Database();
        SensorForm = new Sensor();
        return base.OnInitializedAsync();
    }

    public void RunCommand()
    {
        query = "INSERT INTO SensorDetails(Name, Min, Max)VALUES('" + SensorForm.name + "','" + SensorForm.min + "','" + SensorForm.min + "')";
        dbConn.InsertData(query);
        SensorForm = new Sensor();
        Message = "Data Saved!";
    }
}